* {
	box-sizing: border-box;
}

:root {
	--dark-blue: #151C22;
	--white: #FFFFFF;
	--grey: #727A82;
	--light-blue: #B0C3C7;
	--blue: #3B6392;
	--light-grey: #BFC3C8;
	--light: #F1F2F4;
	--font-family: "Work Sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 76px;
	color: var(--dark-blue);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
}

h1,
h2,
p,
ul,
ol {
	padding: 0;
	margin: 0;
}

ul,
ol {
	list-style: none;
}

.section {
	display: flex;
	align-items: center;
	flex-direction: column;
	min-width: 1366px;
	width: 100%;
	padding: 0 93px;
}

.spread {
	display: flex;
	width: 100%;
}

a {
	color: var(--dark-blue);
	text-decoration: none;
	font-weight: 500;
}

/* header start */
.header {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 22px;
	max-width: 1366px;
}

.nav {
	display: flex;
	gap: 35px;
	padding: 5px 0 0 5px;
}

.nav__hamburger {
	display: none;
	cursor: pointer;
}

.logo {
	font-weight: 800;
	font-size: 24px;
	padding: 0px 122px 0 0;
}

.header__func {
	display: flex;
	gap: 33px;
	padding: 0px 4px 2px 0px;
}

.header__link {
	display: inline-block;
	height: 20px;
	width: 22px;
	cursor: pointer;
}

.header__link:nth-child(1) {
	width: 20px;
	background-image: url(../assets/search.svg);
}

.header__link:nth-child(2) {
	background-image: url(../assets/basket.svg);
}

/* header end */

/* main start */
.main {
	display: flex;
	flex: 1 0 auto;
	min-height: fit-content;
	gap: 124px;
	align-items: center;
	max-width: 1366px;
}

/* main end */

/* section-product start */
.section-product {
	display: flex;
	gap: 58px;
	padding-left: 3px;
}

.product__slider {
	display: flex;
	justify-content: center;
	gap: 59px;
}

.arrow {
	cursor: pointer;
	min-width: 13px;
	margin-top: 193px;
}

.product__galery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
	height: 100%;
	width: 400px;
}

.product__img {
	display: inline-block;
	max-width: 85px;
	min-height: 113px;
	object-fit: cover;
	width: 100%;
	cursor: pointer;
}

.product__img:nth-of-type(2) {
	max-width: 85px;
}

.big {
	display: block;
	max-width: 400px;
	width: 100%;
	max-height: 523px;
	cursor: default;
}

.product__about {
	display: flex;
	flex-direction: column;
	gap: 31px;
	background-color: var(--light);
	max-width: 668px;
	position: relative;
	padding: 0px 130px 64px 70px;
}

.product__about:after {
	position: absolute;
	content: '';
	left: 100%;
	width: calc((100vw - min(100vw, 1190px)) / 2);
	height: 100%;
	background: var(--light);
}

.product__title {
	padding-top: 64px;
}

.product__text {
	line-height: 19px;
	/* letter-spacing: 0.03px; */
}

.form {
	position: relative;
	padding-top: 13px;
}

.subtitle {
	font-weight: 500;
	font-size: 18px;
}

.product__clr {
	display: inline-block;
	position: relative;
	width: 22px;
	min-height: 22px;
	-webkit-appearance: none;
	vertical-align: middle;
	cursor: pointer;
	margin: 22px 19px 0 0px;
}

.product__clr::before {
	position: absolute;
	content: '';
	border-radius: 100%;
	width: 16px;
	min-height: 16px;
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
	border: 0px solid var(--light);
	background-color: #ffffff;
}

.product__clr::after {
	position: absolute;
	content: '';
	width: 20px;
	min-height: 20px;
	border-radius: 100%;
	background-color: transparent;
	opacity: 0;
}

.product__clr:nth-of-type(1)::before {
	background-color: var(--light-blue);
}

.product__clr:nth-of-type(2)::before {
	background-color: var(--blue);
}

.product__clr:nth-of-type(3)::before {
	background-color: var(--light-grey);
}

.product__clr:nth-of-type(1)::after {
	border: 1px solid var(--light-blue);
}

.product__clr:nth-of-type(2)::after {
	right: 0;
	border: 1px solid var(--blue);
}

.product__clr:nth-of-type(3)::after {
	right: 0;
	border: 1px solid var(--light-grey);
}

.product__clr:checked::after {
	opacity: 1;
}

.subtitle:nth-of-type(2) {
	padding-top: 38px;
}

.product__sz {
	display: inline-block;
	position: relative;
	width: 22px;
	min-height: 22px;
	-webkit-appearance: none;
	vertical-align: middle;
	cursor: pointer;
	margin: 19px 9px 2px 0px;
}

.product__sz::before {
	position: absolute;
	min-width: 11px;
	min-height: 13px;
	color: var(--grey);
	content: 's';
	text-transform: uppercase;
	font-weight: 500;
	font-size: 18px;
}
.product__sz:nth-last-of-type(4),
.product__sz:nth-last-of-type(3),
.product__sz:nth-last-of-type(2)
 {
	margin-right: 8px;
}
 
form>.product__sz:nth-child(6)::before {
	content: 'xs';
}

form>.product__sz:nth-child(7)::before {
	left: 7px;
}

form>.product__sz:nth-child(8)::before {
	left: 4px;
	content: 'm';
}

form>.product__sz:nth-child(9)::before {
	left: 4px;
	content: 'l';
}

form>.product__sz:nth-child(10)::before {
	content: 'xl';
}

.product__sz:checked::before {
	color: var(--dark-blue);
}

.product__about>.form>.price {
	margin-top: 30px;
}

.price {
	font-weight: 700;
	font-size: 18px;
}

.product__btn {
	max-width: 200px;
	width: 100%;
	min-height: 64px;
	border-color: transparent;
	background-color: var(--dark-blue);
	color: var(--white);
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	margin-top: 47px;
}

/* section-product end */

/* section-similar start */
.section-similar {
	display: flex;
	flex-direction: column;
	gap: 65px;
	position: relative;
	/* padding: 0 98px; */
	padding: 0px 0px 51px 0px;
}

.similar__title {
	font-weight: 700;
	font-size: 32px;
	padding-left: 5px;
}

.similar__link {
	position: absolute;
	top: 4px;
	right: 0px;
	min-width: 80px;
	cursor: pointer;
	font-weight: 500;
	font-size: 18px;
}

.similar__link::after {
	position: absolute;
	content: '';
	height: 2px;
	min-width: 80px;
	top: 21px;
	right: 5px;
	background-color: var(--dark-blue);
}

.similar-content {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.similar__item {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.similar__img {
	width: 270px;
	max-height: 349px;
}

.similar__item>.subtitle {
	padding: 13px 0 0 0px;
}

.similar__item>.price {
	font-size: 16px;
}

/* section-similar end */

/* footer start */
.footer {
	display: flex;
	flex: 0 0 auto;
	position: relative;
	gap: 33px;
	background-color: var(--dark-blue);
	padding: 0 0 49px 2px;
}

.footer>.nav {
	flex-wrap: wrap;
	max-width: 478px;
	gap: 28px;
	padding: 0;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 18px;
	padding: 47px 0 0 0;
}

.footer>.nav>.logo {
	display: block;
	color: var(--white);
	width: 100%;
	margin: 0;
	padding: 0 0 0 201px;
}

.footer>.nav>.nav__link {
	color: var(--white);
	padding-top: 1px;
}


.footer>.nav>.nav__link:nth-of-type(3) {
	padding-left: 7px;
}

.footer>.nav>.nav__link:nth-of-type(4) {
	padding-left: 8px;
}

.footer>.nav>.nav__link:nth-of-type(5) {
	padding-left: 8px;
}

.footer>.nav>.nav__link:nth-of-type(6) {
	padding-left: 8px;
}

.socials {
	display: flex;
	max-width: 196px;
	width: 100%;
	height: max-content;
	gap: 27px;
	cursor: pointer;
	padding: 1px 0 0 18px;
}

.socials__link {
	background-repeat: no-repeat;
}

.socials__link:nth-of-type(1) {
	width: 12px;
	min-height: 20px;
	background-image: url(../assets/fb.svg);
}

.socials__link:nth-of-type(2) {
	width: 22px;
	min-height: 20px;
	background-image: url(../assets/insta.svg);
	margin: 0 0 0 6px;
}

.socials__link:nth-of-type(3) {
	width: 22px;
	min-height: 20px;
	background-image: url(../assets/pinterest.svg);
}

.socials__link:nth-of-type(4) {
	width: 21px;
	max-height: 20px;
	background-image: url(../assets/twitter.svg);
	margin: 1px 0 0 0;
}

/* footer end */

@media (min-width:700px) and (max-width:1200px) {
	body {
		gap: 30px;
	}

	.section {
		min-width: 768px;
		padding: 0px 39px;
	}

	.header {
		/* max-width: 768px; */
		padding-top: 23px;
	}

	.header>.logo {
		font-weight: 800;
		font-size: 24px;
		padding: 0 122px 0 0;
	}

	.nav {
		padding: 6px 0px 0px 6px;
	}

	.header__func {
		display: flex;
		gap: 33px;
		padding: 0px 5px 2px 0px;
	}

	.section-product {
		gap: 30px;
		padding: 26px 0 0 6px;
	}

	.product__about {
		gap: 32px;
		padding: 0px 0px 0px 50px;
	}

	.product__about:after {
		width: calc((100vw - min(100vw, 690px)) / 2);
	}

	.product__title {
		font-weight: 700;
		font-size: 28px;
		padding-top: 47px;
	}

	.product__text {
		line-height: 16px;
		/* letter-spacing: 0.03px; */
		font-weight: 400;
		font-size: 14px;
	}
	.product__sz {
		margin: 19px 9px 2px 0px;
	}
	.product__sz:nth-last-of-type(4) {
    margin-right: 8px;
	}
	.product__sz:nth-last-of-type(3) {
    margin-right: 9px;
	}
	.product__sz:nth-last-of-type(2) {
    margin-right: 7px;
	}
	.product__sz::before {
		font-size: 18px;
	}
	.arrow {
		display: none;
	}

	.product__galery {
		gap: 22px;
		width: 324px;
	}

	.product__img {
		max-width: 151px;
		max-height: 99px;
		min-height: fit-content;
		object-position: top;
		width: 100%;
	}

	.product__img:nth-of-type(2) {
		max-width: 151px;
	}

	.extra-word {
		display: none;
	}

	.big {
		max-width: 324px;
		max-height: 360px;
	}

	.main {
		gap: 97px;
	}

	.similar__title {
		width: 100%;
    text-align: left;
		font-size: 28px;
		padding-left: 6px;
	}

	.section-similar {
		gap: 55px;
		align-items: center;
		padding: 0px 0px 51px 0px;
	}

	.similar__link {
		top: 1px;
		right: 0px;
		min-width: 81px;
	}

	.similar__link::after {
		height: 2px;
		top: 20px;
		right: 6px;
	}

	.similar__img {
		width: 324px;
		max-height: 349px;
	}

	.similar-content {
		flex-wrap: wrap;
		max-width: 678px;
	}

	.similar__item {
		padding-bottom: 16px;
	}

	.similar__item:nth-of-type(3),
	.similar__item:nth-of-type(4) {
		margin-top: 1px;
	}

	.footer>.nav {
		max-width: 476px;
	}

	.footer>.nav>.nav__link {
		padding-top: 6px;
	}

	.footer>.nav>.logo {
		padding: 0 0 0 201px;
	}

	.footer>.nav>.nav__link:nth-of-type(5) {
		padding-left: 8px;
	}

	.socials__link:nth-of-type(1) {
		background-size: 10px 16px;
	}

	.socials__link:nth-of-type(2) {
		background-size: 18px 16px;
		margin: 0 0 0 6px;
	}

	.socials__link:nth-of-type(3) {
		background-size: 18px 17px;
	}

	.socials__link:nth-of-type(4) {
		background-size: 18px 16px;
		margin: 0;
	}

	.footer {
		gap: 39px;
		padding-bottom: 48px;
	}

	.socials {
		gap: 33px;
		padding: 0px 0 0 10px;
	}
}

@media (max-width:699px) {
	.section {
		min-width: 320px;
		padding: 0px 0px;
	}

	.header {
		/* min-width: 320px; */
		padding: 22px 12px 0 15px;
	}

	.header>.nav {
		display: none;
	}

	.nav__hamburger {
		display: block;
		margin: 5px 0px 0 0;
	}

	.logo {
		font-weight: 800;
		font-size: 24px;
		padding: 0 0px 0 40px;
	}

	.header__func {
		gap: 21px;
		padding: 0;
	}

	.header__link:nth-child(1) {
		background-size: 18px 20px;
		background-repeat: no-repeat;
	}

	.header__link:nth-child(2) {
		background-size: 20px 20px;
		background-repeat: no-repeat;
	}

	body {
		gap: 36px;
		min-width: 320px;
	}

	.section-product {
		flex-direction: column;
		gap: 40px;
		padding-left: 0px;
	}

	.product__slider {
		gap: 14px;
		padding: 0 13px;
	}

	.arrow {
		min-width: 11px;
		max-width: 11px;
		margin-top: 128px;
		max-height: 18px;
	}

	.product__galery {
		gap: 0px;
		width: 244px;
		height: 310px;
	}

	.product__img {
		display: none;
	}

	.big {
		display: block;
		max-width: 244px;
		max-height: 310px;
		height: fit-content;
	}

	.product__about {
		flex-direction: column;
		gap: 23px;
		padding: 0px 27px 40px 15px;
	}

	/* 
	.product__about:before {
		position: absolute;
		content: '';
		right: 100%;
		width: 1000%;
		height: 100%;
		background: var(--light);
	} */

	.product__title {
		font-weight: 700;
		font-size: 26px;
		padding-top: 36px;
	}

	.product__text {
		line-height: 16px;
		font-weight: 400;
		font-size: 14px;
	}

	.extra-word {
		display: none;
	}

	.form {
		padding-top: 7px;
	}

	.subtitle {
		font-weight: 500;
		font-size: 16px;
		letter-spacing: normal;
	}

	.product__clr {
		margin: 22px 14px 0 0px;
	}

	.subtitle:nth-of-type(2) {
		padding-top: 33px;
	}

	.product__sz {
		margin: 19px 9px 0 0px;
		font-weight: 500;
		font-size: 14px;
	}


	.product__sz:nth-last-of-type(3),
	.product__sz:nth-last-of-type(4) {
		margin-right: 10px;
	}
	.product__sz:nth-last-of-type(2) {
		margin-right: 11px;
	}
	.product__sz::before {
		font-size: 14px;
	}
	.product__about>.form>.price {
		margin-top: 24px;
	}

	.product__btn {
		margin-top: 32px;
		padding-left: 7px;
	}

	.main {
		gap: 56px;
	}

	.section-similar {
		gap: 36px;
		position: unset;
		align-items: center;
		padding: 0px 15px 24px 15px;
	}

	.similar__title {
		width: 100%;
		text-align: left;
		font-weight: 700;
		font-size: 26px;
		padding-left: 0;
	}

	.similar__img {
		width: 130px;
		max-height: 160px;
	}

	.similar__item:nth-of-type(2),
	.similar__item:nth-of-type(4) {
		margin-left: 2px;
	}

	.similar-content {
		flex-wrap: wrap;
		gap: 28px;
		max-width: 290px;
	}

	.similar__item {
		gap: 4px;
	}

	.similar__item>.subtitle {
		padding: 9px 1px 0 0px;
	}

	.similar__item>.price {
		font-weight: 700;
		font-size: 14px;
		padding-top: 1px;
		letter-spacing: normal;
	}

	.similar__link {
		position: relative;
		order: 2;
		top: auto;
		right: auto;
		width: fit-content;
		text-align: center;
		font-weight: 500;
		font-size: 16px;
		padding-bottom: 4px;
	}

	.similar__link::after {
		position: absolute;
		content: '';
		height: 2px;
		min-width: 70px;
		max-width: 70px;
		top: 18px;
		right: 0;
		left: 5px;
		background-color: var(--dark-blue);
	}

	.footer {
		align-items: baseline;
		gap: 38px;
		padding: 0 0 52px 15px;
	}

	.footer>.nav {
		flex-direction: column;
		flex-wrap: wrap;
		gap: 24px;
		max-height: 165px;
		padding: 47px 0 0 0;
	}

	.footer>.nav>.logo {
		width: auto;
		padding: 0;
	}

	.footer>.nav>.nav__link:nth-of-type(3),
	.footer>.nav>.nav__link:nth-of-type(4),
	.footer>.nav>.nav__link:nth-of-type(5),
	.footer>.nav>.nav__link:nth-of-type(6) {
		padding-left: 0px;
	}

	.footer>.nav>.nav__link:nth-of-type(3) {
		padding-top: 1px;
	}

	.footer>.nav>.nav__link {
		max-width: 136px;
		width: 100%;
		padding: 0;
	}

	.footer>.nav>.nav__link:nth-of-type(5) {
		padding-top: 5px;
	}

	.footer>.nav>.nav__link:nth-of-type(4) {
		order: 1;
		padding-top: 1px;
	}

	.footer>.nav>.nav__link:nth-of-type(6) {
		order: 2;
		padding-top: 1px;
	}

	.socials {
		gap: 31px;
		padding: 1px 0 0 7px;
	}

	.socials__link:nth-of-type(2) {
		margin: 0px 0 0 6px;
	}

	.socials__link:nth-of-type(4) {
		margin: 1px 0 0 1px;
	}

	.socials__link:nth-of-type(3) {
		background-size: 22px 21px;
	}
}